{% extends 'auth-base.html' %}
{% block title %}Home - Health Nexus{% endblock %}

{% block content %}
{% load static %}
<div class="login-form">
    <div class="logo">
        <h1>MUBERA<span>RUGO</span></h1>
    </div>
    <h2>Login</h2>
    <p>Login to access your Muberarugo account</p>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags == 'error' %} error-message{% endif %}">
                    <p>{{ message }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <button type="button" class="toggle-password" aria-label="Toggle password visibility"></button>
        </div>
        <div class="remember-forgot">
            <label>
                <input type="checkbox" name="remember">
                Remember me
            </label>
            <a href="{% url 'forget_password' %}">Forgot Password?</a>
        </div>
        <button type="submit" class="login-btn">Login</button>
        <p class="signup-link">Don’t have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </form>
    <div class="social-login">
        <p>Or login with</p>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-sign-in-button">
            Sign in with Google
        </a>
    </div>
</div>
<div class="illustration">
    <img src="{% static 'images/home.png' %}" alt="Illustration depicting health nexus">
</div>
{% endblock %}
